/* General Table Styling */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse; /* Ensure borders collapse into a single border */
    border: none; /* Define the border for the table */
}

/* Table Cell Styling */
td {
    text-align: center;
    padding: 20px;
    border: none; /* Define the border for each cell */
}

/* Image Container Styling */
.image-container {
    display: inline-block;
    position: relative;
    vertical-align: top; /* Aligns images correctly in the table cell */
    
}

/* Image Description Styling */
.description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden; /* Initially hidden */
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* Image Styling */
img {
    max-width: 100%;
    height: auto;
    display: block; /* Remove any default spacing below the image */
}

/* Hover Effect for Image Description */
.image-container:hover .description {
    visibility: visible; /* Make visible when hovered */
    opacity: 1;
}
.portfolio-image {
    height: 200px; 
    
}
/* Additional Styles (if needed) */
/* Add any additional CSS styles that you need for your page here */
